@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2332;
  --color-text-light-primary: #0d121b;
  --color-text-dark-primary: #f1f3f7;
  --color-text-light-secondary: #4c669a;
  --color-text-dark-secondary: #a0b3d7;
  --color-border-light: #e7ebf3;
  --color-border-dark: #344159;

  --font-display: Lexend, sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.animate-fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}