.css-13cymwt-control {
      --tw-bg-opacity: 1;
    background-color: rgb(246 246 248 / var(--tw-bg-opacity, 1)) !important;
  border-color: rgb(231 235 243 / var(--tw-border-opacity, 1)) !important;
}