*{
  box-sizing: border-box;
}
body{
  background-color: #D2DBDC;
  margin: 0;
  font-family: "Segoe UI", Helvetica Neue, Lucida Grande, Arial;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-window{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #333;
}

nav {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #008FEA;
  box-shadow:0 3px 15px rgba(0,0,0,.15);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  list-style: none;

}


nav ul li {

}

nav ul li label {
  min-width: 100%;
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  padding: 0 50px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all .3s ease-in-out;
}

nav ul li label:hover,
nav ul li label:focus {
  background: rgba(0, 0, 0, .15);
}

nav ul li label:focus {
  color: white;
}


.sidebar{
  width: 30%;
  max-width: 124px;
  display: flex;
  direction: column;
  border-right: 1px solid #DDD;
}

.sidebar:hover {
  width: 35%;
  max-width: 435px;
}


header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.icon{
  width: 80px;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
}


.header--buttons{
  display: flex;
}

.contentarea{
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.tela1, .tela2, .tela3{
  width: 70%;
  min-width: 935px;
  display: none;
}

#horario:checked ~ .tela1{display: flex; flex-direction: column;}
#matricula:checked ~ .tela2{display: flex; flex-direction: column;}
#up_horario:checked ~ .tela3{display: flex; flex-direction: column;}


.bar{
  width: 70px;
  height: 30px;
  height: 17;
  text-align: center;
  color: white;
  border: 2px solid #AAA;
  margin: 6px;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover{
  background-color: #333;
  opacity: .3;
}

.seila1{
  display: flex;
  flex: 1;
  background-color: #3f3;
  transition: 1s;
}

.seila2, .seila3{
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: 1s;
}

.l0{background-color: #B22222;  color: #000; opacity: .9;}
.l1{background-color: #FFA500;  color: #000; opacity: .9;}
.l2{background-color: #32CD32;  color: #000; opacity: .9;}
.l3{background-color: #20B2AA;  color: #000; opacity: .9;}
.l4{background-color: #4169E1;  color: #fff; opacity: .9;}
.l5{background-color: #6959CD;  color: #fff; opacity: .9;}
.l6{background-color: #FFD700;  color: #000; opacity: .9;}
.l7{background-color: #DC143C;  color: #fff; opacity: .9;}
.l8{background-color: #98FB98;  color: #000; opacity: .9;}
.l9{background-color: #4F4F4F;  color: #fff; opacity: .9;}

#radio10:checked ~ .seila1{margin-left: 0;}
#radio11:checked ~ .seila1{margin-left: -100%;}
#radio12:checked ~ .seila1{margin-left: -200%;}
#radio13:checked ~ .seila1{margin-left: -300%;}
#radio14:checked ~ .seila1{margin-left: -400%;}
#radio15:checked ~ .seila1{margin-left: -500%;}
#radio16:checked ~ .seila1{margin-left: -600%;}

#radio20:checked ~ .seila2, #radio30:checked ~ .seila3{margin-top: 0;}
#radio21:checked ~ .seila2, #radio31:checked ~ .seila3{margin-top: -45.55%;}
#radio22:checked ~ .seila2, #radio32:checked ~ .seila3{margin-top: -91.11%;}
#radio23:checked ~ .seila2, #radio33:checked ~ .seila3{margin-top: -136.67%;}
#radio24:checked ~ .seila2, #radio34:checked ~ .seila3{margin-top: -182.22%;}
#radio25:checked ~ .seila2, #radio35:checked ~ .seila3{margin-top: -227.78%;}
#radio26:checked ~ .seila2, #radio36:checked ~ .seila3{margin-top: -273.34%;}
#radio27:checked ~ .seila2, #radio37:checked ~ .seila3{margin-top: -318.89%;}
#radio28:checked ~ .seila2, #radio38:checked ~ .seila3{margin-top: -364.45%;}
#radio29:checked ~ .seila2, #radio39:checked ~ .seila3{margin-top: -410.01%;}
