body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header div{
  margin: auto;
  width: 90%;
}

fieldset{
  display: flex;
  flex: 1;
}

input[type = submit], .abrir{
  width: 100px;
  height: 30px;
  margin: 5px;
  background: #333;
  color: white;
  border: solid #aaa 2px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  border-radius: 3px;
}

input[type = submit]:hover, .abrir:hover {
  background-color: #254;
} 

input[type = checkbox]{
  width: 15px;
  height: 15px;
  background-color: #ccc;
  opacity: .8;
  accent-color: #333;
}

input[type = checkbox]:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type = checkbox]:checked ~ .checkmark {
  background-color: #33f;
}

input[type = radio]{
  display: none;
}

.materias{
  font-size: 15px;
  width: 90%;
}

.materias .materia{
  width: 30%;
  float: left;
  background-color: #888;
  padding-bottom: 5px;
  margin: 1px;
}

.materias .materia .nome{
  margin: auto;
  height: 50px;
  background-color: #888;
}

.materias .materia .horas{
  margin: auto;
  border-top-style: double;
  background-color: #888;
  padding-top: 3px;
}

.materias .materia .horas .hora{
  float: left;
  width: 90px;

}

.materias .materia .hora input{
  float: left;
  width: 90px;
}

#res{
  float: left;

}