.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  -moz-osx-font-smoothing: grayscale;

  background: #1e272e;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header div{
  margin: auto;
  width: 90%;
}

fieldset{
  display: flex;
  flex: 1;
}

.tr{
  width: 100%;
  height: 5.5vh;
}

input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  width: 150px;
  text-align: center;
  border: 2px solid #3498db;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 0.8em;
}

input[type = "submit"]:hover {
  background: #575fcf;
}
input[type = "submit"]::before {
  content: "";
  background: #000; 
  margin-top: -20px;
}

/*input[type = submit], */
.abrir{
  width: 70px;
  height: 30px;
  margin: 5px;
  background: none;
  color: white;
  border: solid #aaa 2px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  border-radius: 3px;
}

/*input[type = submit]:hover, */
.abrir:hover {
  background-color: rgba(40, 100, 225, 0.5); 
} 

input[type = checkbox]{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: #ccc;
  opacity: .8;
  accent-color: #333;
}

input[type = checkbox]:after {
  
  width: 5px;
  height: 10px;
  border: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type = checkbox]:checked ~ .checkmark {
  background-color: #33f;
}

input[type = radio]{
  display: none;
}

fieldset{
  display: flex;
  flex: 1;
}

label{
  font-size: 13px;
}

.materias{
  font-size: 15px;
  width: 90%;
}

.materias .materia{
  width: 30%;
  float: left;
  background-color: #888;
  padding-bottom: 5px;
  margin: 1px;
}

.materias .materia .nome{
  margin: auto;
  height: 50px;
  background-color: #888;
}

.materias .materia .horas{
  margin: auto;
  border-top-style: double;
  background-color: #888;
  padding-top: 3px;
}

.materias .materia .horas .hora{
  float: left;
  width: 90px;

}

.materias .materia .hora input{
  float: left;
  width: 90px;
}

#res{
  float: left;

}