.MateriasFeitas-content{	
	height: 70vh;
	min-width: 750px;
	display: flex;
	flex-direction: row;
	justify-content: center;
 	overflow:auto; 
}
.teste{
	display: flex;
	flex-direction: column;
}

.MateriasFeitas-content::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.MateriasFeitas-content::-webkit-scrollbar-track {
  background: #CCC;        /* color of the tracking area */
}

.MateriasFeitas-content::-webkit-scrollbar-thumb {
  background-color: #333;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.periodo-content, .buttom-content{
	display: flex;
	flex: 1;
	flex-direction: row;
	font-size: 13px;
}

.buttom-content{
	display: flex;
	justify-content: center;
	padding-top: 5px;
	min-width: 750px;
	background-color: #777;
}

.total{
	display: flex;
	width: 935px;
	flex-direction: column;
}

.opc{
	display: flex;
	flex-direction: row;
	height: 30px;
	color: white;
	padding: 5px;
}

.abrir{
	display: flex;
	justify-content: center;
	margin: 0;
	margin-right: 5px;
	color: white;
	text-decoration: none;
}

.abrir:hover ~.pos {
	opacity: 1;
	margin-top: -30px;
	height: 60px;
}


.pos{
	display: flex;
	padding: 5px;
	left: calc(100% - 890px);
	color: #FFF;
	border-radius: 5px;
	width: 90%;
	font-size: 13px;
  transition: height 2s, 1s;
  opacity: 0;
	height: 0px;
}

.lista{
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: 15px;
}

.as{
	float: top;
	width: 100%;
}

.periodo{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #07C;
	color: #FFF;
	margin: 5px 0;
}

.periodo:first-child{
margin-top: 0;	
}

.check{
	float: left;
	width: 50%;
}


.slides-content, .slides2-content{
	display: flex;
	width: 935px;
	height: 420px;
	overflow: hidden;
	
}

.slides2-content{
	flex-direction: row;
	height: 406px;
}

.slides, .slides2{
	display: flex;
	width: 100%;
	height: 67vh;
}



.navigation{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bar{
	width: 70px;
	height: 30px;
	height: 17;
	text-align: center;
	color: white;
	border: 2px solid #AAA;
	margin: 6px;
	border-radius: 3px;
	cursor: pointer;
	transition: .4s;
}

.bar:hover{
	background-color: #333;
	opacity: .3;
}

input[type = radio]{
	display: none;
}

.seila1,.seila2,.seila3{
	display: flex;
	flex: 1;
	flex-direction: column;
	transition: 1s;
}
