.cont{
	margin-top: 10px;
	width: 90%;
	background-color: #CCC;
	box-shadow: 0 0 .2rem lightgrey;
	border-radius: .2rem;

	/*alinhando*/
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;

}

.MateriasFeitas-content{	
	height: calc(100vh - 140px);
	min-width: 750px;
	padding: 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #DDD;
 	overflow:auto; 
}

.MateriasFeitas-content::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.MateriasFeitas-content::-webkit-scrollbar-track {
  background: #CCC;        /* color of the tracking area */
}

.MateriasFeitas-content::-webkit-scrollbar-thumb {
  background-color: #333;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #CCC;  /* creates padding around scroll thumb */
}

form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.periodo-content, .buttom-content{
	display: flex;
	flex: 1;
	flex-direction: row;
	font-size: 13px;
}

.buttom-content{
	display: flex;
	justify-content: center;
	padding-top: 5px;
	min-width: 750px;
	background-color: #777;
}

fieldset{
	display: flex;
	flex: 1;
}

input[type = submit], .abrir{
	width: 100px;
	height: 30px;
	margin: 5px;
	background: #333;
	color: white;
	border: solid #aaa 2px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
	border-radius: 3px;
}

input[type = submit]:hover, .abrir:hover {
	background-color: #254;
}	

input[type = checkbox]{
	width: 15px;
	height: 15px;
	background-color: #ccc;
	opacity: .8;
  accent-color: #333;
}

input[type = checkbox]:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type = checkbox]:checked ~ .checkmark {
  background-color: #33f;
}

.total{
	display: flex;
	width: 935px;
	flex-direction: column;
}

.opc{
	display: flex;
	flex-direction: row;
	height: 30px;
	color: white;
	padding: 5px;
}

.abrir{
	display: flex;
	justify-content: center;
	margin: 0;
	margin-right: 5px;
	color: white;
	text-decoration: none;
}

.abrir:hover ~.pos {
	opacity: 1;
	margin-top: -30px;
	height: 60px;
}


.pos{
	display: flex;
	padding: 5px;
	left: calc(100% - 890px);
	color: #FFF;
	border-radius: 5px;
	width: 90%;
	font-size: 13px;
  transition: height 2s, 1s;
  opacity: 0;
	height: 0px;
}

.lista{
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-bottom: 15px;
}

.as{
	float: top;
	width: 100%;
}

.periodo{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #07C;
	color: #FFF;
	margin: 5px 0;
}

.periodo:first-child{
margin-top: 0;	
}

.check{
	float: left;
	width: 50%;
}


.slides-content, .slides2-content{
	display: flex;
	width: 935px;
	height: 420px;
	overflow: hidden;
	
}

.slides2-content{
	flex-direction: row;
	height: 406px;
}

.slides, .slides2{
	display: flex;
	width: 100%;
	height: 100vh;
}

.slides2{
	display: flex;
	width: 70%;
	
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bar{
	width: 70px;
	height: 30px;
	height: 17;
	text-align: center;
	color: white;
	border: 2px solid #AAA;
	margin: 6px;
	border-radius: 3px;
	cursor: pointer;
	transition: .4s;
}

.bar:hover{
	background-color: #333;
	opacity: .3;
}

input[type = radio]{
	display: none;
}

.seila{
	width: 10%;
	display: flex;
	transition: 1s;
}


.seila2{
	display: flex;
	flex: 1;
	flex-direction: column;
	transition: 1s;
}

#radio0:checked ~ .seila{margin-left: 0;}
#radio1:checked ~ .seila{margin-left: -100%;}
#radio2:checked ~ .seila{margin-left: -200%;}
#radio3:checked ~ .seila{margin-left: -300%;}
#radio4:checked ~ .seila{margin-left: -400%;}
#radio5:checked ~ .seila{margin-left: -500%;}
#radio6:checked ~ .seila{margin-left: -600%;}

#radio20:checked ~ .seila2{margin-top: 0;}
#radio21:checked ~ .seila2{margin-top: -43.4%;}
#radio22:checked ~ .seila2{margin-top: -86.84%;}
#radio23:checked ~ .seila2{margin-top: -130.22%;}
#radio24:checked ~ .seila2{margin-top: -173.68%;}
#radio25:checked ~ .seila2{margin-top: -217.1%;}
#radio26:checked ~ .seila2{margin-top: -260.53%;}
#radio27:checked ~ .seila2{margin-top: -303.95%;}
#radio28:checked ~ .seila2{margin-top: -347.37%;}
#radio29:checked ~ .seila2{margin-top: -390.8%;}

#radio0:checked ~ #bar0{border-color: #F3F; border-width: 10px;}
#radio1:checked ~ #bar1{border-color: #F3F; border-width: 10px;}
#radio2:checked ~ #bar2{border-color: #F3F; border-width: 10px;}
#radio3:checked ~ #bar3{border-color: #F3F; border-width: 10px;}
#radio4:checked ~ #bar4{border-color: #F3F; border-width: 10px;}
#radio5:checked ~ #bar5{border-color: #F3F; border-width: 10px;}
#radio6:checked ~ #bar6{border-color: #F3F; border-width: 10px;}
