*{
  margin: 0;
  padding: 0;
}

body {
    width:100vw;
    margin: 0;
    font-family: "Segoe UI", Helvetica Neue, Lucida Grande, Arial;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-window{
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  min-width: 1000px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 9vw;
  min-width: 110px;
  background: #121217;
}

nav ul {
  margin: 0;
  padding: 0;
    gap: 3px;

}

nav ul li {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 5px;
  height: 30px;
  margin-bottom: 3px;
  flex-direction: column;
}

nav ul li label {
  display: flex;
  flex: 1;
  width: 25vh;
  color: rgba(255, 255, 255, .9);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  border-radius: 5px;
  padding: 5px;
}

nav ul li label:hover,
nav ul li label:focus {
  text-shadow: 1px 1px 5px #000;
  transition-property: width;
  transition-duration: 5s;
  background-color: #07C;
  cursor: pointer;
}

nav ul li label:focus {
  color: white;
}


.sidebar{
  width: 30%;
  max-width: 124px;
  display: flex;
  direction: column;
  border-right: 1px solid #DDD;
}

.sidebar:hover {
  width: 35%;
  max-width: 435px;
}


header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.icon{
  width: 80px;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
}


.header--buttons{
  display: flex;
}

.contentarea {
    width: 100vw;
    min-width: 1050px;
    flex-direction: column;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,194,1) 87%);
}

.tela1, .tela2, .tela3 {
    /*min-width: 30vw;*/
    width: 60vw;
    height: calc(100vh - 10px);
    margin-top: 10px;
    align-items: center;
    justify-content: start;
    display: none;
}


#horario:checked ~ .tela1, #grade:checked ~ .tela2, #home:checked ~ .tela3 {
    display: flex;
    flex-direction: column;
}


#b1, #b2, #b3 {
    display: none;
}

#t1:checked ~ #b1, #t2:checked ~ #b2, #t3:checked ~ #b3 {
    display: flex;
}

.bar7{
  width: 35px;
  height: 25px;
  text-align: center;
  color: white;
  border: 2px solid #AAA;
  margin: 5px;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  transition: .4s;
}

.bar7:hover{
  background-color: rgba(40, 100, 225, 0.5); 
}

.seila, .seila1, .seila3,.seila2{
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
    transition: 1s;

}

.w3-container{
  display: flex;  
  width: 100%;
  height: 80px;
  padding: 10%;
  justify-content: center;
}

span{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}


span > img{
  display: flex;
  flex: 1;
  width: 50px;
  }

.link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.l0{background-color: rgba(178, 34, 32, 0.5);  color: #000;}
.l1{background-color: rgba(255, 149, 0, 0.5);  color: #000;}
.l2{background-color: rgba(50, 205, 50, 0.5);  color: #000;}
.l3{background-color: rgba(32, 178, 170, 0.5);  color: #000;}
.l4{background-color: rgba(65, 105, 225, 0.5);  color: #fff;}
.l5{background-color: rgba(105, 89, 205, 0.5);  color: #fff;}
.l6{background-color: rgba(255, 215, 0, 0.5);  color: #000;}
.l7{background-color: rgba(220, 20, 60, 0.5);  color: #fff;}
.l8{background-color: rgba(233, 251, 84, 0.5);  color: #000;}
.l9{background-color: rgba(79, 79, 79, 0.5);  color: #fff;}
.l10{background-color: rgba(34, 178, 255, 0.5);  color: #000;}

#radio0:checked ~ #bar0{border-color: #F3F; border-width: 10px;}
#radio1:checked ~ #bar1{border-color: #F3F; border-width: 10px;}
#radio2:checked ~ #bar2{border-color: #F3F; border-width: 10px;}
#radio3:checked ~ #bar3{border-color: #F3F; border-width: 10px;}
#radio4:checked ~ #bar4{border-color: #F3F; border-width: 10px;}
#radio5:checked ~ #bar5{border-color: #F3F; border-width: 10px;}
#radio6:checked ~ #bar6{border-color: #F3F; border-width: 10px;}
