.Horarios-content{
	display: flex;
	width: 500%;
	background-color: #3f3;
}

.grade-content{
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow: auto;
}
.grade-content::-webkit-scrollbar {
	visibility: hidden;
	width: 0;
	/*width: 12px;                width of the entire scrollbar */
  }
  
.grade-content::-webkit-scrollbar-track {
	visibility: hidden;
	/*background: orange;         color of the tracking area */
  }
  
.grade-content::-webkit-scrollbar-thumb {
	visibility: hidden;
	/*background-color: blue;     color of the scroll thumb */
	/*border-radius: 20px;        roundness of the scroll thumb */
	/*border: 3px solid orange;   creates padding around scroll thumb */
  }
.intervalo{
	display: flex;
	width: 100%;
	height: 3vh;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	color: #FFF;
	justify-content: center;
	text-align: center;
	background-color: #333;
}
.intervalo:first-child{
	background-color: #07C;	
	color: #FFF;
}

.tabela{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #DDD;
	box-shadow: #000 0px 7px 29px 0px;
}

.grade {
	justify-content: center;
	align-items: center;
	font-size: 10px;
	text-overflow: inherit;
	text-align: center;
	height: 5.5vh;
	padding: 0 .5vh;
	/* transition: .1s; */
	/* -webkit-transition: .1s; */
	-moz-transition: .1s;
	-o-transition: .1s;
}
.semana, .horario, .intervalo2{
	justify-content: center;
	align-items: center;
	font-size: 10px;
	text-overflow: inherit;
	text-align: center;
}
.horario{
	width: 15%;
	min-width: 120px;
}
.semana {
	color: #333;
}
.semana1 {
	width: 14%;
	/*min-width: 180px;*/
}
.semana2 {
	width: 17%;
	/*min-width: 180px;*/
}

.semana:nth-child(odd){background-color: #ccc;}
.semana:nth-child(even){background-color: #ddd;}

tr:nth-child(even) {background-color: #ddd;}

.intervalo2,.semana{
	height: 3vh;
}

.intervalo:first-child{
	background-color: #07C;	
	color: #FFF;
}

.intervalo2:first-child{
	background-color: #333;
	color: #fff;
}



.footer {
    display: flex;
    padding-top: 1vh;
	flex-direction: column;
	align-items: center;
}

.buttom-content{
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 1vh 0 1vh 0;
    transition: .3s;

	-moz-transition: .3s;
	-o-transition: .3s;
}

.t_mat{
	display: flex;
	justify-content: center;
	margin-top: 2px;
}

.salvar{
	width: 100%;
  	display: flex;
  	justify-content: center;
	height: 30px;
	padding: 0.5vh;
    margin-top: 15px;
  	align-items: center;
}

.slides{
	display: flex;
	width: 80vw;
	margin-top: 15px;
	min-width: 920px;
	flex-direction: column;
	background-color: #eee;
	overflow: hidden;
	border-radius: 10px;
    transition: 1s;
}

.seila, .seila1, .seila3,.seila2{
    display: flex;
    flex-direction: column; 
    height: calc(100%);
  }

  
  input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin-right: 5px;
	margin-left: 5px;
	width: 150px;
	text-align: center;
	border: 2px solid #3498db;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 0.8em;
  }
  
  input[type = "submit"]:hover {
	background: #575fcf;
  }
  input[type = "submit"]::before {
	content: "";
	background: #000; 
	margin-top: -20px;
  }

  .grade {
    justify-content: center;
	align-items: center;
	font-size: 10px;
	text-overflow: inherit;
	text-align: center;
    height: 5.5vh;
    padding: 0 .5vh;
     transition: .3s;
     -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.tr{
    width: 100%;
    height: 5.5vh;
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: center;
    background-color: #FFF;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
}

.page, .control{
	color: #333;
	font-weight: 500;
}

.page, .prev, .next{
	width: 35px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: #ddd;
	margin: 0 1px;
	cursor: pointer;
    font-size: 12px;
    font-weight: 700;
	-moz-border-radius: 5px;
}


.control:hover{
	color: #07c;
}

.page:hover{
	filter: brightness(.8);
}

.page.active{
	background-color: #07c;
	color: #eee;
}

.prev, .next{
	background-color: #fff;
}

input[type="radio"]:checked + label {
	background-color: #07C; /* Cor de fundo quando o radio está marcado */
	color: white; /* Cor do texto quando o radio está marcado */
}

.hidden {
	display: none;
  }
  
  
.accordion {
	display: flex;
	flex-direction: column;
}

.accordion input[type="checkbox"] {
	display: none;
}

.accordion .content-cursos {
	display: flex;
	width: 260px;
	margin-top: 95px;
	border-radius: 20px;
	overflow: hidden;
}

.accordion .content-cursos .cursos {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.accordion .content-cursos .cursos a {
	color: #333;
	text-decoration: none;
	min-width:130px;
	width:100%;
	text-align: center;
	padding: 5px 0 5px 0;
}

.accordion .content-cursos .cursos a:active ~ .accordion input[type="checkbox"] + label + div {
	display: flex;
	background-color: #fff;
}

.accordion .content-cursos .cursos a:hover {
	background: #ddd;
}

.accordion > div > p:hover {
	color: #fff;
}

.accordion label {
	margin-top: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	background-color: #eee;
	border-radius: 20px;
	height: 35px;
	padding: 0 20px;
	-moz-border-radius: 20px;
	cursor:pointer;
}

.accordion input[type="checkbox"] + label + div {
	display: none;
	background-color: #fff;
	z-index:1;
}

.accordion input[type="checkbox"]:checked + label + div {
	opacity: 1;

	display: block;
}

.accordion input[type="checkbox"]:checked + label {
	display: none;
}
  /*
  
  

  
  
  
  
  
  
  
  
  
 
 
*/
#radio0:checked ~ #bar0{border-color: #F3F; border-width: 10px;}
#radio1:checked ~ #bar1{border-color: #F3F; border-width: 10px;}
#radio2:checked ~ #bar2{border-color: #F3F; border-width: 10px;}
#radio3:checked ~ #bar3{border-color: #F3F; border-width: 10px;}
#radio4:checked ~ #bar4{border-color: #F3F; border-width: 10px;}
#radio5:checked ~ #bar5{border-color: #F3F; border-width: 10px;}
#radio6:checked ~ #bar6{border-color: #F3F; border-width: 10px;}

.l0{background-color: rgba(178, 34, 32, 0.5);  color: #000;}
.l1{background-color: rgba(255, 149, 0, 0.5);  color: #000;}
.l2{background-color: rgba(50, 205, 50, 0.5);  color: #000;}
.l3{background-color: rgba(32, 178, 170, 0.5);  color: #000;}
.l4{background-color: rgba(65, 105, 225, 0.5);  color: #fff;}
.l5{background-color: rgba(105, 89, 205, 0.5);  color: #fff;}
.l6{background-color: rgba(255, 215, 0, 0.5);  color: #000;}
.l7{background-color: rgba(220, 20, 60, 0.5);  color: #fff;}
.l8{background-color: rgba(233, 251, 84, 0.5);  color: #000;}
.l9{background-color: rgba(79, 79, 79, 0.5);  color: #fff;}
.l10{background-color: rgba(34, 178, 255, 0.5);  color: #000;}
